extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Kate Obertas

        p.lead.text-light
          | Full Stack JavaScript Developer in Training.

        .portfolio-bio
          p
            | My name is Kate and I have been developing websites and applications for around 2 years. My experience is vast and lies in many fields such as full stack development, database design and implementation, android app development with Java, networking and windows forms applications with C#.
            |<br> I have worked with HTML/CSS, Javascript/NodeJS, PHP, some application frameworks like Spring Boot/Thymeleaf and a little bit of Python.

            |<br>I was always passionate about technology and started perusing a diploma in Emerging technology in May 2019. I love troubleshooting in my free time and always eagre to help with any technical problem to the best of my abilities.

            |<br>If you want to see some of the projects that I work on in my spare time, see my GitHub profile and projects on my portfolio site.

            | My github mostly consist of school projects and most of them are private repositories. I do not feel that they are accurate representations of the skills I acquired during my studies and self-learning explorations, however it will give you a sense of the technologies that I work with frequently. 
            |<br>While I am not actively searching for a specific position, I believe I would be a great addition to the team given a proper training and some guidance.
            
          p  
            | Thank you for checking out my portfolio,
          p
            | Kate Obertas
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li C#
          li Java
          li Android app development
          li Database design 
          li Cloud Computing
          li Web Development:
          ul
            li PHP
            li JavaScript
            li React
        h6 Contact Info

        ul
          li 236-878-2981
          li katerina.obertas@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/kateobertas/') LinkedIn
        a.button.expanded(href='https://github.com/Koberpunk') GitHub
        a.button.expanded(href='https://twitter.com/Koberpunk') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  